* {
  margin: 0px;
  padding: 0px;
}

#Main {
  background-color: aquamarine;
  width: 70%;
  text-align: center;
  font-size: 40px;
}

.btn {
  font-size: 35px;
  margin: 8px;
  padding: 10px;
  box-sizing: border-box;
}

.cat {
  height: 120px;
  width: 130px;
}